# SETS

Sets are collection of data
Sets are an unordered collection of unique elements which can be constructed using the set() function
Sets are mutable(edit) data

In [1]:
x = set()
type(x)

set

In [3]:
x = {1,2,3,}
print(x)

{1, 2, 3}

In [2]:
#add to sets with add() method
x.add(1)

In [4]:
#show
print(x)

{1}

NOTE: curly brackets do not indicate the dictionary!Using only keys, you can draw analogies as a set being a dictionary

In [5]:
x.add(10)
print(x)

{10, 1, 2, 3}

In [6]:
print(x)

{1, 2}

In [7]:
#try to add the same element
x.add(1)

In [8]:
print(x)

{1, 2}

If we see the above it wont place another 1 there as a set is only concerned with unique elements!However, we can cast a list
with multiple repeat elements to a set to get a unique elements

In [9]:
#create a list with repeats
b = [10,20,30,40,50,20,10,30,60,10]

In [12]:
set(b)  # IF WE SEE ALL THE DUPLICATES ARE REMOVED

{10, 20, 30, 40, 50, 60}

In [ ]:
'''
Set methods 

add()	Adds an element to the set
update()	Update the set with the union of this set and others
clear()	Removes all the elements from the set
remove()	Removes the specified element
discard()	Remove the specified item
pop()	Removes an element from the set
difference()	Returns a set containing the difference between two or more sets
copy()	Returns a copy of the set
union()	Return a set containing the union of sets
intersection()	Returns a set, that is the intersection of two other sets
symmetric_difference()	Returns a set with the symmetric differences of two sets
'''

In [7]:
#adding items to existing set
s = {10,20,30,40,50,60,70,80}
s.update([100,200,300])
print(s)

{100, 70, 40, 200, 10, 300, 80, 50, 20, 60, 30}

In [8]:
print(s)

{100, 70, 40, 200, 10, 300, 80, 50, 20, 60, 30}

discard()	Remove the specified item
pop()	Removes an element from the set

while using discard()if the item does not exist in the set, it remains unchanged.
But remove() will raise an error in such condition

In [14]:
#in set we do not have 99 when we use discard method it shows the existing set without an error
s.discard(99)
print(s)

{100, 70, 40, 200, 10, 300, 80, 50, 20, 60, 30}

In [15]:
#in set we do not have 99 when we use discard method it shows the existing set it will raise an error
s.remove(99)
print(s)

KeyError: 99

In [17]:
print(s)

{70, 40, 200, 10, 300, 80, 50, 20, 60, 30}

In [18]:
#pop method to drop random value unlike list- list drops last value
s.pop()
print(s)

{40, 200, 10, 300, 80, 50, 20, 60, 30}

In [19]:
#clear method is used to discard everything
s.clear()

In [20]:
print(s)

set()

In [21]:
#Union method
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
#intersection method-common item 
A = {1,2,3,4,5}
B = {4,5,6,7,8}

print(A&B)

{4, 5}

In [24]:
A.intersection(B)

{4, 5}

In [25]:
B.intersection(A)

{4, 5}

In [27]:
#difference method
A = {1,2,3,4,5}
B = {4,5,6,7,8}

print(A - B)

{1, 2, 3}

In [28]:
A.difference(B)

{1, 2, 3}

In [30]:
B.difference(A)

{6, 7, 8}

In [31]:
# Set Symmetric Difference
# Symmetric Difference of A and B is a set of elements in both A and B 
# except those that are common in both.
# initialize A and B
A = {1,2,3,4,5}
B = {4,5,6,7,8}

print(A^B)

{1, 2, 3, 6, 7, 8}

In [32]:
# Iterating Through a Set
for letter in set("apple"):
     print(letter, end=' ')

l p e a

In [34]:
for letter in set('orange'):
    print(letter, end=' ')

e n g o a r

In [39]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A.difference_update(B)
print(A)
print(B)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [40]:
B.difference_update(A)
print(B)
print(A)

{4, 5, 6, 7, 8}
{1, 2, 3}

In [41]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A.symmetric_difference_update(B)
print(A)

{1, 2, 3, 6, 7, 8}

In [42]:
B.symmetric_difference_update(A)
print(B)

{1, 2, 3, 4, 5}

In [43]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A.intersection_update(B)
print(A)

{4, 5}

In [44]:
A = {1, 2, 3, 4, 5}
B = {4, 5}
C = {10,11}
print(A.isdisjoint(B))

False

In [45]:
A = {1, 2, 3, 4, 5}
B = {4, 5}

print(B.issubset(A))

True

In [46]:
A = {1, 2, 3, 4, 5}
B = {4, 5}

print(B.issuperset(A))

False

In [47]:
a = frozenset([1,2,3,4,5,6])
print(a)

frozenset({1, 2, 3, 4, 5, 6})