# Simple Expression

Boolean Evaluation

Boolean expressions are created with the keywords AND,OR,NOT & IS

In [1]:
True and False   #and : both should be true i.es one condition and another condition, both condition should be satisfied

False

In [2]:
True and True #and condition here both conditions are satisfied

True

In [3]:
True or False #Or : here either one condition should be satisfied

True

In [4]:
not True #not : pyton interprets between keywords and expression

False

In [5]:
not False #not:

True

In [6]:
True is True #is: evaluation between expressions and gives the results

True

In [7]:
True is False

False

In [8]:
'a' is 'a'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-8-e2fa3e0bad77>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'a' is 'a'

True

In [9]:
'a' is 'b'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-9-3f3b4e0cb6ec>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'a' is 'b'

False

Operators

In [10]:
True + True  #here we are doing operators" +" Python always treats True = 1, False = 0

2

In [11]:
True + False

1

In [12]:
False + False

0

In [13]:
True - False

1

In [14]:
False - False

0

In [15]:
False - True

-1

In [16]:
10 == 10   #Here we have one condition i.es ==

True

In [17]:
10 <= 10  #Here we have two condition i.es less < or ==

True

In [18]:
True and False or True  #here we have two condition 'and'&'Or'

True

# Variables in Python

Variable

A variable in python is defined through assignments. There is no concept of declaring a variable outside of that assignement

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.
There are 33 keywords in Python 3.7. This number can vary slightly over the course of time.

In [62]:
tenth = 10
print(tenth)

10

In [ ]:
lambda = 20 
_pav%an = 2
praveena = 25
_age1 = [20,21,25]
1name_2 = ["rani" , "pavan", "praveena"]

Here we cannot assing function,identifier and variable starting with numbers are not correct format of assigning data to variable

# Fundamental types

Integers

In [20]:
#integers       #left x is called variable and 1 is called data, assigning 1 to variable x and this is called data assignment
x = 1

type(x)          #we are checking the type of data

int

Floats

Floats literals can be created by adding a decimal component to a number

In [21]:
#float

x = 1.0

type(x)

float

Boolean

Boolean can be defined by typing True/False without quotes

In [23]:
#boolean
b1 = True
b2 = False

type(b1)

bool

Strings

Strings literals can be defined with any of single quotes(''),double quotes(") or triple quotes(''' or """). All give the same results with two important differences. If you quote with singel quotes, you do not have to escape doube quotes and vice-versa.If you quote with triple quotes, your string can span multiple lines.

In [24]:
#string      
name1 = 'xyz'    #any data quoted will be considered as string data type
type(name1)

str

Dynamic Typing

In Python, while the value that a variable points to has a type, the variable itself has no strict type in its definition. You
can re-use the same variable to point to an object of a different type. It may be helpful to think of variables as "label"
associated with objects

In [28]:
ten = 10
print(ten)

10

In [29]:
ten ='ten'
print(ten)

ten

In [30]:
xyz = 'xyz'
print(xyz)

xyz

In [38]:
xyz = 'xyz'   #here we can use print twice and can get the results
print(xyz)
print(ten)

xyz
ten

Strong Typing

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations
will require certain types as arguments.

In [31]:
'Day' + 1  #here we have string ('Day')and we need to print that with integer('1') can able to combine both string and integer

TypeError: can only concatenate str (not "int") to str

We are getting error because we cannot add string or number, we have to make to either string to integer or integer to string

In [35]:
int('Day') + 1

ValueError: invalid literal for int() with base 10: 'Day'

we cannot convert string into integer

In [ ]:
This behaviour is different from some other loosely-typed languages. If you were to do the same thing in javascript, you would
get a different result.
In Python, however it is possible to change the type to an object through builtin function

In [36]:
'Day' + str(1)

'Day1'

In [37]:
'I like python from Day' + str(1)   #also text should be under quotes or else we will get error

'I like python from Day1'

# Data Types

. Numbers
. String
. List
. Tuple
. Set
. Dictionary

Numbers

In [39]:
a = 20
print(a,"is a",type(a),'type')

20 is a <class 'int'> type

Here 20 is a integer type

In [41]:
b =20.9
print(b,"is a",type(b),'type')

20.9 is a <class 'float'> type

Here 20.0 is float type

In [43]:
c = 6+2j
print(c,"is a",type(c),'type')

(6+2j) is a <class 'complex'> type

Here 6+2j is a complex type

String

In [50]:
first_string ="Python"
second_string =" is a powerful"
third_string =" Language"

In [51]:
print(first_string + second_string + third_string)

Python is a powerful Language

List

In [52]:
list = [20, 'string',10.35]  #starts with [] square brackets and ends with []square brackets  we can assign all types of data

In [53]:
print(list)

[20, 'string', 10.35]

Tuple

In [54]:
tuple =(10, 'string',10.35) #starts with () paranthesis and ends with () paranthesis we can assign all types of data

In [55]:
print(tuple)

(10, 'string', 10.35)

Set

In [56]:
Set = {100,1,3.2,"set",1}  #starts with {}curly brackets and can assign any type of data, data will be in ascending order &
                            #no duplicates will be given

In [57]:
print(Set)

{1, 3.2, 100, 'set'}

Dictionary

In [58]:
Dict = {'name':'Bangalore','temp':30} #we will assing the key and value in it and it has {}

In [59]:
print(Dict)

{'name': 'Bangalore', 'temp': 30}