# Tuples

Tuples are immutable(cannot-edit)data.
Constructing Tuples
Basic tuple methods
Data will be inside parenthesis()

In [2]:
t =()
type(t)

tuple

In [3]:
#create data with mixed data type
t = (1,1.5,'text')
print(t)

(1, 1.5, 'text')

In [4]:
#convert tuple into list
t1 = list(t)
type(t1)

list

In [5]:
#check len 
len(t)

3

In [6]:
#using index
t = ['apple','ball','cat']
t[0]

'apple'

In [7]:
#slicing like list we need 'all' from ball using postivie integer
t[1][1:]

'all'

In [8]:
#slicing like list we need 'cat' from 'a' using negatvie integer
t[-1][-2]

'a'

Basic Tuple method:
    Here we have 2 built in function which can be used but not like lists.

In [9]:
t

['apple', 'ball', 'cat']

In [10]:
#to enter a value and return the index use .index
t.index('ball')

1

In [11]:
#to count the number of time values appear use .count method
t.count('cat')

1

# Indexing & Slicing in tuples

In [20]:
day = ('mon','tue','wed','thu','fri','sat','sun')
print(day)

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [21]:
#output as wed
day[2]

'wed'

In [22]:
#output as saturday 
day[5]

'sat'

In [23]:
#output as thu with negative indexing
day[-4]

'thu'

In [24]:
#output as monday - indexing
day[-7]

'mon'

In [26]:
#output as wed-fri + indexing
day[2:5]

('wed', 'thu', 'fri')

In [30]:
#output thu,fri,sat negatve
day[-4:-1]

('thu', 'fri', 'sat')

In [32]:
#output tue,wed,thu as negative indexing
day[-6:-3]

('tue', 'wed', 'thu')

In [33]:
#ouput from fri using positive indexing
day[-3:]

('fri', 'sat', 'sun')

In [35]:
#output from mon-wed positive indexing
day[:3]

('mon', 'tue', 'wed')

In [36]:
#output hu from thur using postive indexing
day[3][1:3]

'hu'

In [37]:
#output tu from tue using negative indexing
day[-6][-3:-1]

'tu'

In [42]:
#how to reverse the day
day[::-1]

('sun', 'sat', 'fri', 'thu', 'wed', 'tue', 'mon')

In [43]:
day[::-2]

('sun', 'fri', 'wed', 'mon')

# Immutable

As tuples are immutable they cant grow.Once tuple is made we cannot add to it

In [12]:
a = (1,2,3,4,5)
a.append('Nope')
print(a)

AttributeError: 'tuple' object has no attribute 'append'

We will get a error message